* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    user-select: none;
}

#loader {
    background-color: rgba(255, 250, 250, 0.99);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


::-webkit-scrollbar {
    width: 5px;
}

@media screen and (max-width:700px) {
    ::-webkit-scrollbar {
        width: 2px;
    }
}

/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}


.landing-section {
    position: relative;

    .grad {
        z-index: -1;
        position: absolute;
    }

    .left-grad {
        top: -70px;
        left: -70px;

        @media screen and (max-width:1440px) {
            img {
                width: 200px;
            }
        }

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    .right-grad {
        top: 80vh;
        right: -100px;

        @media screen and (max-width:1440px) {
            right: -50px;

            img {
                width: 200px;
            }
        }

        @media screen and (max-width:1040px) {
            right: -70px;
        }

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    .navbar {
        padding: 10px;

        nav {
            padding-top: 30px;
            display: flex;
            justify-content: space-around;

            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    text-decoration: none;
                    display: flex;

                    .image {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        img {
                            width: 50px;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 10px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 200;
                        color: #1C1C26;

                        @media screen and (max-width:1000px) {
                            display: none;
                        }
                    }
                }
            }

            .link {
                display: flex;
                flex-direction: column;
                justify-content: center;

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        padding: 0px 15px;

                        a {
                            text-decoration: none;
                            color: #787994;
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;

                            &:hover {
                                color: #1C1C26;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    text-decoration: none;
                    background: #FA3654 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    opacity: 1;
                    box-shadow: 0px 20px 45px #FA365466;
                    padding: 10px 20px;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    border: 3px solid #FA3654;
                    transition: background-color 0.4s;
                    font-size: 16px;

                    &:hover {
                        color: #FA3654;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        transition: background-color 0.4s;
                    }
                }
            }

            .mobile-nav-container {
                display: none;

                .mobile-nav {
                    display: none;
                }
            }

            .burger-container {
                display: none;
                flex-direction: column;
                justify-content: center;
            }
        }

        @media screen and (max-width:760px) {
            nav {
                justify-content: space-between;
                padding-top: 10px;
                padding: 10px 50px;

                @media screen and (max-width:580px) {
                    padding-top: 20px;
                    padding: 20px 20px;
                }

                .logo {
                    a {
                        .text {
                            display: block;

                            @media screen and (max-width:580px) {
                                display: none;
                            }
                        }
                    }
                }

                .link {
                    display: none;
                }

                .contact {
                    display: none;
                }

                .mobile-nav-container {
                    display: block;
                    position: absolute;
                    z-index: 1000;
                    display: flex;
                    justify-content: center;
                    left: 0;
                    top: 100px;
                    width: 100vw;

                    .mobile-nav {
                        display: none;
                        width: 80vw;
                        background-color: rgba(255, 250, 250, 0.5);
                        backdrop-filter: blur(8px) saturate(100%) contrast(45%) brightness(130%);
                        border: 1px solid #c7c7c7;
                        box-shadow: 0px 20px 45px #3B3B6740;
                        border-radius: 30px;

                        ul {
                            list-style: none;
                            width: 100%;
                            padding: 20px;

                            li {
                                display: flex;
                                justify-content: center;
                                padding: 10px 10px;

                                a {
                                    font-size: 24px;
                                    text-decoration: none;
                                    font-family: 'Poppins', sans-serif;
                                    color: #787878;
                                    font-weight: bold;
                                    position: relative;

                                    img {
                                        position: absolute;
                                        bottom: 0;
                                        right: 0;
                                        width: 80px;
                                        display: none;
                                        transition: display 0.4s;
                                    }

                                    &:hover {
                                        color: #FA3654;

                                        img {
                                            display: block;
                                            transition: display 0.4s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .burger-container {
                    display: flex;

                    .burger {
                        padding: 10px;
                        border-radius: 5px;

                        i {
                            color: #787994;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: #eeeeee;

                            i {
                                color: #FA3654;
                            }
                        }
                    }
                }
            }
        }
    }

    .landing-data {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        padding: 20px;

        @media screen and (max-width:870px) {
            flex-direction: column-reverse;
        }

        .text {
            // flex: 1;
            // padding: 0px 50px 0px 250px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width:1250px) {
                width: 500px;
            }

            @media screen and (max-width:1050px) {
                width: 400px;
            }

            @media screen and (max-width:870px) {
                width: 100%;
                padding: 20px 100px;
            }

            @media screen and (max-width:600px) {
                padding: 20px 20px;
            }

            @media screen and (max-width:370px) {
                padding: 20px 10px;
            }

            h1 {
                // font-family: 'ambar';
                font-family: 'Poppins', sans-serif;
                font-weight: bolder;
                font-size: 48px;
                color: #1C1C26;

                @media screen and (max-width:1050px) {
                    font-size: 36px;
                }

                @media screen and (max-width:870px) {
                    text-align: center;
                }

                @media screen and (max-width:400px) {
                    font-size: 32px;
                }

                span {
                    color: #FA3654;
                    position: relative;

                    img {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 200px;

                        @media screen and (max-width:1050px) {
                            width: 150px;
                        }
                    }
                }
            }

            p {
                padding: 20px 0px;
                color: #787994;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                text-align: left;

                @media screen and (max-width:870px) {
                    text-align: center;
                }

                @media screen and (max-width:400px) {
                    font-size: 16px;
                }
            }

            div {
                padding-top: 20px;

                @media screen and (max-width:870px) {
                    text-align: center;
                }

                a {
                    text-decoration: none;
                    background: #FA3654 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    opacity: 1;
                    padding: 10px 40px;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    border: 3px solid #FA3654;
                    transition: background-color 0.4s;
                    font-size: 16px;
                    margin: 0px 20px 0px 0px;
                    box-shadow: 0px 20px 45px #FA365466;

                    &:hover {
                        color: #FA3654;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        transition: background-color 0.4s;
                    }
                }

                #al {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    color: #787994;
                    border-color: #787994;
                    padding: 10px 12px;
                    margin: 0px 0px 0px 20px;
                    box-shadow: 0px 0px 0px #FA365466;

                    @media screen and (max-width:1100px) {
                        margin: 0px 0px 0px 0px;
                    }

                    &:hover {
                        color: #FFFFFF;
                        background-color: #787994;
                    }

                }
            }

            .quick-links {
                @media screen and (max-width:760px) {
                    display: none;
                }
            }
        }

        .image {
            // flex: 1;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width:870px) {
                flex-direction: row;
                padding-left: 0px;
            }

            img {
                width: 500px;

                @media screen and (max-width:1100px) {
                    width: 400px;
                }

                @media screen and (max-width:600px) {
                    width: 350px;
                }

                @media screen and (max-width:400px) {
                    width: 300px;
                }
            }
        }
    }
}









// stat section

.stat-section {
    position: relative;
    padding: 50px 10px;
    display: flex;
    justify-content: center;

    @media screen and (max-width:910px) {
        flex-direction: column;
        padding: 10px 10px;
    }

    @media screen and (max-width:870px) {
        background-color: #eeeeee;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 48px;
            font-weight: lighter;
            color: #787994;
            font-family: 'Poppins', sans-serif;
        }

        h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: lighter;
            font-size: 18px;
            padding-left: 5px;
            color: #787994;
        }

        padding-right: 100px;

        @media screen and (max-width:910px) {
            padding-right: 0px;

            h1 {
                text-align: center;
            }

            h3 {
                text-align: center;
                padding-left: 0px;
                padding-bottom: 20px;
            }
        }
    }

    .data-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (max-width:600px) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        @media screen and (max-width:360px) {
            justify-content: center;
        }

        .data {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 48px;
                font-weight: 800;
                color: #1C1C26;
                font-family: 'Poppins', sans-serif;
            }

            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                font-weight: lighter;
                color: #787994;
            }

        }
    }
}


// about us section

.about {
    position: relative;

    .left-about-grad {
        position: absolute;
        top: 0px;
        left: -70px;

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    .right-about-grad {
        top: 50vh;
        right: -300px;
        position: absolute;

        @media screen and (max-width:1440px) {
            right: -200px;

            img {
                width: 350px;
            }
        }

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    padding: 150px 20px 100px 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width:676px) {
        flex-direction: column;
        align-items: center;
        padding: 50px 20px 50px 20px;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;

        @media screen and (max-width:1050px) {
            padding-right: 50px;
        }

        @media screen and (max-width:676px) {
            padding-right: 0px;
        }

        img {
            width: 400px;

            @media screen and (max-width:870px) {
                width: 300px;
            }

        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;

        @media screen and (max-width:1050px) {
            width: 40%;
        }

        @media screen and (max-width:870px) {
            width: 50%;
        }

        @media screen and (max-width:676px) {
            width: 60%;
            text-align: center;
        }

        @media screen and (max-width:600px) {
            width: 90%;
        }

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 48px;
            font-weight: 800;
            color: #FA3654;
            padding-bottom: 0px;

            // line-height: 50px;
            @media screen and (max-width:1142px) {
                font-size: 36px;
            }

            span {
                color: #4445ED;
            }
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            color: #787994;
            padding-bottom: 10px;
        }

        .button {
            padding-top: 20px;

            a {
                text-decoration: none;
                background: #2DB58D 0% 0% no-repeat padding-box;
                border-radius: 5px;
                opacity: 1;
                padding: 10px 40px;
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                border: 3px solid #2DB58D;
                transition: background-color 0.4s;
                font-size: 16px;
                box-shadow: 0px 20px 45px #28BD9966;

                &:hover {
                    background-color: #FFFFFF;
                    color: #2DB58D;
                    transition: background-color 0.4s;
                }
            }
        }
    }
}




// offerings(what we have)

.offerings {
    padding: 20px;
    position: relative;

    @media screen and (max-width:870px) {}

    @media screen and (max-width:500px) {
        padding: 20px 10px;
    }


    h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 20px;
        padding: 50px 0px;

        @media screen and (max-width:500px) {
            font-size: 36px;
        }

        span {
            color: #FA3654;
            position: relative;

            img {
                position: absolute;
                bottom: 6px;
                right: 0;
                width: 140px;

                @media screen and (max-width:500px) {
                    width: 90px;
                }
            }
        }
    }

    .content {
        z-index: 1;
        padding: 50px 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        @media screen and (max-width:1400px) {
            padding: 50px 100px;
        }

        @media screen and (max-width:1300px) {
            padding: 50px 50px;
        }

        @media screen and (max-width:1100px) {
            padding: 50px 0px;
        }

        @media screen and (max-width:870px) {
            padding: 50px 20px;
            grid-template-columns: 1fr;
        }


        .data {
            display: flex;
            justify-content: space-around;

            .image {
                display: flex;
                flex-direction: column;
                justify-content: center;


                @media screen and (max-width:666px) {
                    display: flex;
                }

                @media screen and (max-width:370px) {
                    display: none;
                }

                img {
                    width: 250px;

                    @media screen and (max-width:950px) {
                        width: 200px;
                    }

                    @media screen and (max-width:500px) {
                        width: 150px;
                    }

                }
            }

            .text {
                display: flex;
                flex-direction: column;

                @media screen and (max-width:870px) {
                    text-align: center;
                    width: 40%;
                }

                @media screen and (max-width:630px) {
                    width: 100%;
                }


                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    color: #1C1C26;
                    padding-bottom: 10px;

                    @media screen and (max-width:500px) {
                        font-size: 18px;
                    }
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    color: #787994;

                    @media screen and (max-width:870px) {
                        text-align: center;
                    }

                    @media screen and (max-width:500px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

// sponsors registered
.startup-container {
    padding: 100px 150px;
    overflow: hidden;
    background-color: #eeeeee;

    @media screen and (max-width:790px) {
        padding: 100px 50px;
    }

    @media screen and (max-width:600px) {
        padding: 100px 10px;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 150px;
            }
        }

        @media screen and (max-width:500px) {
            font-size: 36px;

            span {
                img {
                    width: 100px;
                }
            }
        }

    }

    .people-container {
        padding-top: 50px;

        .people-carousel {
            .swiper-wrapper {
                width: 200px;
                display: flex;
                align-items: center;

                .swiper-slide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .member-container {
                        overflow: hidden;
                        margin: 20px 10px;
                        max-width: 300px;

                        .member {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;


                            .image {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;

                                img {
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.gallery {
    padding: 50px 0px 100px 0px;

    h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: #1C1C26;
        text-align: center;

        span {
            color: #FA3654;
        }

        @media screen and (max-width:630px) {
            font-size: 24px;
        }

        @media screen and (max-width:460px) {
            font-size: 18px;
        }
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;

        @media screen and (max-width:630px) {
            font-size: 48px;
        }

        @media screen and (max-width:460px) {
            font-size: 42px;
        }

        @media screen and (max-width:396px) {
            font-size: 36px;
        }

        @media screen and (max-width:330px) {
            font-size: 32px;
        }



        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 250px;

                @media screen and (max-width:630px) {
                    width: 180px;
                }
            }
        }
    }

    .container {
        .swiper-container {
            width: 100%;
            padding: 50px;

            @media screen and (max-width:1400px) {
                padding: 50px 0px;
            }

            .swiper-wrapper {
                .swiper-slide {
                    border-radius: 10px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 400px;
                    height: 300px;

                    @media screen and (max-width:430px) {
                        width: 380px;
                        height: 280px;
                    }

                    @media screen and (max-width:400px) {
                        width: 300px;
                        height: 200px;
                    }

                    @media screen and (max-width:330px) {
                        width: 250px;
                        height: 200px;
                    }
                }
            }
        }
    }
}


.events {
    padding: 100px 20px;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
            }
        }
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #787994;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
            }
        }
    }

    .event-container {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 150px;

        @media screen and (max-width:970px) {
            padding: 50px 50px;
        }

        @media screen and (max-width:800px) {
            padding: 50px 0px;
        }

        .event-box {
            font-family: 'Poppins', sans-serif;
            margin: 20px 10px;
            background-color: #eeeeee;
            padding: 20px;
            border-radius: 20px;
            transition: box-shadow 0.4s;
            border: 1px solid #d1d1d1;

            &:hover {

                box-shadow: 0px 20px 45px #3B3B6740;
                transition: box-shadow 0.4s;

                .mask {
                    position: relative;
                    padding: 0px;
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .image {
                        img {
                            display: none;
                        }
                    }

                    .type {
                        font-size: 12px;
                        padding-top: 10px;
                        transition: font-size 0.4s padding-top 0.4s;

                    }

                    .desc {
                        h2 {
                            font-size: 24px;
                            transition: font-size 0.4s;
                        }

                        p {
                            display: none;

                        }
                    }

                    .long {
                        display: block;
                    }
                }
            }

            .mask {
                width: 250px;
                height: 400px;
                overflow: hidden;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .image {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    img {
                        width: 150px;
                    }
                }

                .type {
                    font-size: 14px;
                    padding-top: 30px;
                    color: #787994;
                    font-weight: bold;
                    transition: font-size 0.4s padding-top 0.4s;
                }

                .desc {
                    h2 {
                        font-size: 32px;
                        color: #4445ED;
                        transition: font-size 0.4s;

                        span {
                            color: #FA3654;
                        }
                    }

                    p {
                        color: #787878;
                    }
                }

                .long {
                    position: absolute;
                    width: 250px;
                    display: none;
                    padding: 20px 0px;
                    color: #787994;

                }

            }
        }
    }
}




.summit {

    padding: 50px 150px;

    @media screen and (max-width:1400px) {
        padding: 50px 100px;
    }

    @media screen and (max-width:1300px) {
        padding: 50px 50px;
    }

    @media screen and (max-width:760px) {
        padding: 50px 20px;
    }


    .container {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px;
        background-position: center;
        box-shadow: 0px 20px 45px #3B3B6740;

        .e-summit {
            position: relative;
            overflow: hidden;
            border-radius: 25px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.85);

            .grad1 {
                position: absolute;
                top: -690px;
                right: -400px;

                @media screen and (max-width:1200px) {
                    top: -700px;
                    right: -420px;
                }

                @media screen and (max-width:1100px) {
                    top: -712px;
                    right: -650px;
                }

                @media screen and (max-width:870px) {
                    display: none;
                }
            }

            .grad2 {
                position: absolute;
                bottom: -400px;

                @media screen and (max-width:820px) {
                    display: none;
                }
            }

            .heading {
                display: flex;
                justify-content: center;

                .wrap {

                    p {
                        padding-top: 50px;
                        font-family: 'Poppins', sans-serif;
                        color: #1C1C26;
                        font-size: 24px;
                        font-weight: 600;

                        @media screen and (max-width:670px) {
                            font-size: 18px;
                            color: #1C1C26;
                        }
                    }

                    h1 {
                        font-family: 'Poppins', sans-serif;
                        color: #FA3654;
                        font-size: 46px;
                        font-weight: 800;

                        @media screen and (max-width:880px) {
                            font-size: 42px;
                        }

                        @media screen and (max-width:820px) {
                            font-size: 36px;
                        }

                        @media screen and (max-width:670px) {
                            font-size: 32px;
                        }

                        @media screen and (max-width:590px) {
                            font-size: 28px;
                        }

                        span {
                            color: #4445ED;
                        }
                    }
                }
            }

            .desc {
                p {
                    text-align: center;
                    padding: 0px 10px;
                    font-family: 'Poppins', sans-serif;
                    color: #1C1C26;
                    padding-bottom: 50px;
                }

                @media screen and (max-width:670px) {
                    p {
                        padding-bottom: 20px;
                        font-size: 14px;

                        @media screen and (max-width:520px) {
                            text-align: left;
                        }
                    }
                }
            }

            .register {
                position: absolute;
                background-color: #2DB58D;
                top: 0;
                left: 0;
                padding: 20px 30px;
                border-radius: 0px 0px 25px 0px;

                @media screen and (max-width:670px) {
                    padding: 10px 15px;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    color: #f5f5f5;
                    font-size: 18px;

                    @media screen and (max-width:670px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}



// contact-container

.contact-container {

    padding: 100px 150px;
    position: relative;

    @media screen and (max-width:1300px) {
        padding: 100px 50px;
    }

    .left-about-grad {
        position: absolute;
        top: 0px;
        left: -70px;

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 150px;
            }
        }
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #787994;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
            }
        }
    }

    .form {
        padding: 50px 0px;
        display: flex;
        justify-content: center;

        @media screen and (max-width:760px) {
            flex-direction: column-reverse;
        }

        .contact-image {
            @media screen and (max-width:760px) {
                display: flex;
                justify-content: center;
            }

            img {
                width: 600px;

                @media screen and (max-width:1300px) {
                    width: 500px;
                }

                @media screen and (max-width:1000px) {
                    width: 400px;
                }

                @media screen and (max-width:410px) {
                    width: 300px;
                }
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    padding: 10px 10px;
                    min-width: 400px;
                    margin: 10px 0px;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #787994;
                    font-size: 18px;
                    color: #787994;

                    @media screen and (max-width:1000px) {
                        min-width: 300px;
                    }

                    &:focus {
                        border-bottom: 2px solid #4445ED;
                    }
                }

                textarea {
                    resize: none;
                    min-width: 400px;
                    min-height: 200px;
                    padding: 10px;
                    font-size: 18px;
                    border: 2px solid #787878;
                    outline: none;
                    background-color: rgba(0, 0, 0, 0);
                    margin: 10px 0px;

                    @media screen and (max-width:1000px) {
                        min-width: 300px;
                    }
                }

                button {
                    text-decoration: none;
                    background: #4445Ed 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    opacity: 1;
                    padding: 10px 40px;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    border: 3px solid #4445ed;
                    transition: background-color 0.4s;
                    font-size: 16px;
                    box-shadow: 0px 20px 45px #bdbdd4;
                    min-width: 200px;

                    &:hover {
                        color: #4445ed;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        transition: background-color 0.4s;
                    }

                }
            }
        }
    }
}







// team section

.team-container {
    padding: 100px 0px;
    font-family: 'Poppins', sans-serif;

    .left-about-grad {
        position: absolute;
        top: 0px;
        left: -70px;

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    .right-about-grad {
        top: 150vh;
        right: -300px;
        position: absolute;

        @media screen and (max-width:1440px) {
            right: -200px;

            img {
                width: 350px;
            }
        }

        @media screen and (max-width:870px) {
            display: none;
        }
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;

        span {
            position: relative;
            color: #FA3654;
            ;

            img {
                position: absolute;
                bottom: 5px;
                right: 0;
                width: 140px;
            }
        }

        @media screen and (max-width:490px) {
            padding: 10px 10px;
            font-size: 42px;

            span {
                img {
                    width: 100px;
                }
            }
        }
    }

    .teams {
        padding: 50px 150px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (max-width:900px) {
            padding: 50px 50px;
        }

        @media screen and (max-width:700px) {
            padding: 50px 10px;
        }


        .member-container {
            overflow: hidden;
            background-color: #eeeeee;
            border-radius: 30px;
            margin: 20px 20px;
            transition: box-shadow 0.4s;

            &:hover {
                box-shadow: 0px 20px 45px #3B3B6740;
                transform: translateY(-20px);
                transition: all 0.3s ease-in-out;

                .member {
                    .image {
                        img {
                            filter: grayscale(0);
                        }
                    }

                    .details {
                        .name {
                            color: #FA3654;
                        }
                    }

                    .social {
                        i {
                            color: #787878;
                        }
                    }
                }
            }

            .member {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .image {
                    padding: 30px 30px 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 200px;
                        height: 200px;
                        border-radius: 20px;
                        box-shadow: 0px 20px 45px #3B3B6740;
                    }
                }

                .details {
                    padding: 0px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .name {
                        font-size: 24px;
                        color: #787878;
                        padding: 0px 5px;
                    }

                    .position {
                        font-size: 12px;
                        color: #787994;
                        font-weight: lighter;
                        padding-bottom: 10px;
                    }
                }

                .social {
                    box-shadow: 0px -1px 14px -9px rgba(0, 0, 0, 0.75);
                    background-color: #e6e6e6;
                    width: 100%;
                    text-align: center;
                    padding: 10px 0px;

                    i {
                        font-size: 18px;
                        padding: 0px 5px;
                        color: #FA3654;

                        &:hover {
                            color: #FA3654;
                        }
                    }
                }
            }
        }
    }
}



.footer-section {
    padding: 100px 50px;

    @media screen and (max-width:700px) {
        padding: 60px 20px;
    }

    @media screen and (max-width:400px) {
        padding: 60px 10px;
    }

    footer {
        background-color: #eeeeee;
        padding: 50px;
        box-shadow: 0px 20px 45px #3B3B6740;
        border-radius: 60px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media screen and (max-width:700px) {
            border-radius: 40px;
        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 200px;
                }
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                font-size: 18px;
                text-decoration: none;
                color: #787994;
                padding: 5px;
                font-family: 'Poppins', sans-serif;
                transition: color 0.4s;

                &:hover {
                    color: #FA3654;
                    transition: color 0.4s;
                }
            }
        }

        .social {
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            a {
                padding: 5px;
                color: #787994;

                &:hover {
                    color: #FA3654;
                }
            }
        }

        .contact {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;

            .address {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                padding: 10px 0px;
                color: #787994;

                @media screen and (max-width:500px) {
                    font-size: 18px;
                    text-align: center;
                    border-top: 0.5px solid #d8d8d8;
                }
            }

            .email {
                font-family: 'Poppins', sans-serif;
                padding: 2px 0px;
                color: #787994;

                span {
                    font-size: 18px;
                    color: #FA3654;
                    padding-right: 5px;
                }
            }

            .phone {
                font-family: 'Poppins', sans-serif;
                padding: 2px 0px;
                color: #787994;

                span {
                    font-size: 18px;
                    color: #FA3654;
                    padding-right: 5px;
                }
            }
        }
    }
}